$button: #597E8E;
$hover: #537483;
$text: rgb(40 35 35);

button {
	background-color: $button;
	// border-radius: 60px;
	border-radius: 5px;
	box-shadow: -5px 3px 7px rgba(0, 0, 0, 0.5);
	border: none;
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	color: rgb(40 35 35);
	transition: background-color ease 0.3s;
	font-family: 'Circe';
}

button:hover {
	background-color: $hover;
}