dialog {
	width: 40vw;
	height: 40vh;

	> form {
		> label {
			display: flex;
			flex-direction: column;
			width: 30%;
		}
	}

	[data-dialog-name="rules-dialog"] {
		width: 90vw;
		height: 40vh;
	}
}