main.profile {
	padding: 50px;
	display: grid;
	grid-template-rows: 1fr minmax(0, 6fr);
	gap: 20px;

	> div.header {
		display: flex;
		justify-content: space-between;

		> div {
			display: flex;
			gap: 25px;
			height: fit-content;
			align-items: center;

			> span {
				font-size: 16px;
				text-transform: uppercase;
				// border-bottom: 2px solid black;
				cursor: pointer;
				height: 100%;
				display: flex;
				align-items: center;
				transition: 0.2s;

				&:hover {
					transform: scale(.95);
					color: $button;
				}
			}
		}
	}

	.form-group {
		position: relative;
		margin: 0 60px;
		height: fit-content;

		> label {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			font-size: 16px;
			color: $text;
			transition: all 0.3s ease;
			pointer-events: none;
		}

		> input {
			width: 100%;
			padding: 10px 10px 10px 10px;
			font-size: 16px;
			border: none;
			border-bottom: 2px solid $button;
			outline: none;
			transition: border-color 0.3s ease;
			background-color: transparent;
			width: 45%;
		}

		input:focus + label,
		input:not(:placeholder-shown) + label {
			top: calc(100% + 10px);
			left: 10px;
			font-size: 12px;
			color: #9e9e9e;
		}
	}

	> div.games {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		> ul.rooms-list {
			padding: 0 60px;
			height: 70%;
			overflow-y: auto;
			width: 70%;

			> p {
				text-align: center;
				margin-top: 20px;
			}

			> li {
				display: grid;
				grid-template-columns: 1fr 2fr 1.5fr 2fr;
				justify-content: space-between;
				align-items: center;
				border-bottom: 2px solid $button;
				padding: 20px;

				> button {
					width: fit-content;
					justify-self: center;
				}
			}
		}

		> div {
			margin-top: 20px;
			display: flex;
			gap: 10px;
		}
	}
}