main.rooms {
	padding: 50px;
	display: grid;
	grid-template-rows: 1fr 1fr 6fr;
	gap: 20px;

	> div.header {
		display: flex;
		justify-content: space-between;
	}

	.form-group {
		position: relative;
		margin: 0 60px;

		> label {
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			font-size: 16px;
			color: $text;
			transition: all 0.3s ease;
			pointer-events: none;
		}

		> input {
			width: 100%;
			padding: 10px 10px 10px 10px;
			font-size: 16px;
			border: none;
			border-bottom: 2px solid $button;
			outline: none;
			transition: border-color 0.3s ease;
			background-color: transparent;
			width: 45%;
		}

		input:focus + label,
		input:not(:placeholder-shown) + label {
			top: calc(100% + 10px);
			left: 10px;
			font-size: 12px;
			color: #9e9e9e;
		}
	}

	> div.games {
		display: flex;
		flex-direction: column;
		align-items: center;

		> ul.rooms-list {
			padding: 0 60px;
			height: 45vh;
			overflow-y: auto;
			width: 100%;

			> li {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				justify-content: space-between;
				align-items: center;
				border-bottom: 2px solid $button;
				padding: 20px;
			}
		}

		> button {
			margin-top: 20px;
		}
	}
}