main.start {
	align-items: center;
	justify-content: center;
	position: relative;
	
	> h1 {
		margin-bottom: 4px;
	}

	> p {
		margin-bottom: 30px;
		font-size: 20px;
		font-family: 'Circe';
	}

	> div {
		display: flex;
		gap: 25px;
	}

	button[data-show-dialog="rules-dialog"] {
		position: absolute;
		top: 30px;
		right: 30px;
	}
}