@import './_reset.scss';
$squircle-24: polygon(0px 46.3px, 0px 43.8px, 0px 41.4px, 0px 39.1px, 0px 36.9px, 0px 34.7px, 0.1px 32.7px, 0.2px 30.7px, 0.3px 28.8px, 0.4px 26.9px, 0.5px 25.2px, 0.7px 23.5px, 0.9px 21.9px, 1.1px 20.4px, 1.4px 18.9px, 1.7px 17.5px, 2px 16.2px, 2.4px 14.9px, 2.8px 13.7px, 3.3px 12.6px, 3.8px 11.5px, 4.3px 10.5px, 4.9px 9.5px, 5.6px 8.6px, 6.2px 7.8px, 7px 7px, 7.8px 6.2px, 8.6px 5.6px, 9.5px 4.9px, 10.5px 4.3px, 11.5px 3.8px, 12.6px 3.3px, 13.7px 2.8px, 14.9px 2.4px, 16.2px 2px, 17.5px 1.7px, 18.9px 1.4px, 20.4px 1.1px, 21.9px 0.9px, 23.5px 0.7px, 25.2px 0.5px, 26.9px 0.4px, 28.8px 0.3px, 30.7px 0.2px, 32.7px 0.1px, 34.7px 0px, 36.9px 0px, 39.1px 0px, 41.4px 0px, 43.8px 0px, calc(100% - 43.8px) 0px, calc(100% - 41.4px) 0px, calc(100% - 39.1px) 0px, calc(100% - 36.9px) 0px, calc(100% - 34.7px) 0px, calc(100% - 32.7px) 0.1px, calc(100% - 30.7px) 0.2px, calc(100% - 28.8px) 0.3px, calc(100% - 26.9px) 0.4px, calc(100% - 25.2px) 0.5px, calc(100% - 23.5px) 0.7px, calc(100% - 21.9px) 0.9px, calc(100% - 20.4px) 1.1px, calc(100% - 18.9px) 1.4px, calc(100% - 17.5px) 1.7px, calc(100% - 16.2px) 2px, calc(100% - 14.9px) 2.4px, calc(100% - 13.7px) 2.8px, calc(100% - 12.6px) 3.3px, calc(100% - 11.5px) 3.8px, calc(100% - 10.5px) 4.3px, calc(100% - 9.5px) 4.9px, calc(100% - 8.6px) 5.6px, calc(100% - 7.8px) 6.2px, calc(100% - 7px) 7px, calc(100% - 6.2px) 7.8px, calc(100% - 5.6px) 8.6px, calc(100% - 4.9px) 9.5px, calc(100% - 4.3px) 10.5px, calc(100% - 3.8px) 11.5px, calc(100% - 3.3px) 12.6px, calc(100% - 2.8px) 13.7px, calc(100% - 2.4px) 14.9px, calc(100% - 2px) 16.2px, calc(100% - 1.7px) 17.5px, calc(100% - 1.4px) 18.9px, calc(100% - 1.1px) 20.4px, calc(100% - 0.9px) 21.9px, calc(100% - 0.7px) 23.5px, calc(100% - 0.5px) 25.2px, calc(100% - 0.4px) 26.9px, calc(100% - 0.3px) 28.8px, calc(100% - 0.2px) 30.7px, calc(100% - 0.1px) 32.7px, calc(100% - 0px) 34.7px, calc(100% - 0px) 36.9px, calc(100% - 0px) 39.1px, calc(100% - 0px) 41.4px, calc(100% - 0px) 43.8px, calc(100% - 0px) 46.3px, calc(100% - 0px) calc(100% - 46.3px), calc(100% - 0px) calc(100% - 43.8px), calc(100% - 0px) calc(100% - 41.4px), calc(100% - 0px) calc(100% - 39.1px), calc(100% - 0px) calc(100% - 36.9px), calc(100% - 0px) calc(100% - 34.7px), calc(100% - 0.1px) calc(100% - 32.7px), calc(100% - 0.2px) calc(100% - 30.7px), calc(100% - 0.3px) calc(100% - 28.8px), calc(100% - 0.4px) calc(100% - 26.9px), calc(100% - 0.5px) calc(100% - 25.2px), calc(100% - 0.7px) calc(100% - 23.5px), calc(100% - 0.9px) calc(100% - 21.9px), calc(100% - 1.1px) calc(100% - 20.4px), calc(100% - 1.4px) calc(100% - 18.9px), calc(100% - 1.7px) calc(100% - 17.5px), calc(100% - 2px) calc(100% - 16.2px), calc(100% - 2.4px) calc(100% - 14.9px), calc(100% - 2.8px) calc(100% - 13.7px), calc(100% - 3.3px) calc(100% - 12.6px), calc(100% - 3.8px) calc(100% - 11.5px), calc(100% - 4.3px) calc(100% - 10.5px), calc(100% - 4.9px) calc(100% - 9.5px), calc(100% - 5.6px) calc(100% - 8.6px), calc(100% - 6.2px) calc(100% - 7.8px), calc(100% - 7px) calc(100% - 7px), calc(100% - 7.8px) calc(100% - 6.2px), calc(100% - 8.6px) calc(100% - 5.6px), calc(100% - 9.5px) calc(100% - 4.9px), calc(100% - 10.5px) calc(100% - 4.3px), calc(100% - 11.5px) calc(100% - 3.8px), calc(100% - 12.6px) calc(100% - 3.3px), calc(100% - 13.7px) calc(100% - 2.8px), calc(100% - 14.9px) calc(100% - 2.4px), calc(100% - 16.2px) calc(100% - 2px), calc(100% - 17.5px) calc(100% - 1.7px), calc(100% - 18.9px) calc(100% - 1.4px), calc(100% - 20.4px) calc(100% - 1.1px), calc(100% - 21.9px) calc(100% - 0.9px), calc(100% - 23.5px) calc(100% - 0.7px), calc(100% - 25.2px) calc(100% - 0.5px), calc(100% - 26.9px) calc(100% - 0.4px), calc(100% - 28.8px) calc(100% - 0.3px), calc(100% - 30.7px) calc(100% - 0.2px), calc(100% - 32.7px) calc(100% - 0.1px), calc(100% - 34.7px) calc(100% - 0px), calc(100% - 36.9px) calc(100% - 0px), calc(100% - 39.1px) calc(100% - 0px), calc(100% - 41.4px) calc(100% - 0px), calc(100% - 43.8px) calc(100% - 0px), 43.8px calc(100% - 0px), 41.4px calc(100% - 0px), 39.1px calc(100% - 0px), 36.9px calc(100% - 0px), 34.7px calc(100% - 0px), 32.7px calc(100% - 0.1px), 30.7px calc(100% - 0.2px), 28.8px calc(100% - 0.3px), 26.9px calc(100% - 0.4px), 25.2px calc(100% - 0.5px), 23.5px calc(100% - 0.7px), 21.9px calc(100% - 0.9px), 20.4px calc(100% - 1.1px), 18.9px calc(100% - 1.4px), 17.5px calc(100% - 1.7px), 16.2px calc(100% - 2px), 14.9px calc(100% - 2.4px), 13.7px calc(100% - 2.8px), 12.6px calc(100% - 3.3px), 11.5px calc(100% - 3.8px), 10.5px calc(100% - 4.3px), 9.5px calc(100% - 4.9px), 8.6px calc(100% - 5.6px), 7.8px calc(100% - 6.2px), 7px calc(100% - 7px), 6.2px calc(100% - 7.8px), 5.6px calc(100% - 8.6px), 4.9px calc(100% - 9.5px), 4.3px calc(100% - 10.5px), 3.8px calc(100% - 11.5px), 3.3px calc(100% - 12.6px), 2.8px calc(100% - 13.7px), 2.4px calc(100% - 14.9px), 2px calc(100% - 16.2px), 1.7px calc(100% - 17.5px), 1.4px calc(100% - 18.9px), 1.1px calc(100% - 20.4px), 0.9px calc(100% - 21.9px), 0.7px calc(100% - 23.5px), 0.5px calc(100% - 25.2px), 0.4px calc(100% - 26.9px), 0.3px calc(100% - 28.8px), 0.2px calc(100% - 30.7px), 0.1px calc(100% - 32.7px), 0px calc(100% - 34.7px), 0px calc(100% - 36.9px), 0px calc(100% - 39.1px), 0px calc(100% - 41.4px), 0px calc(100% - 43.8px), 0px calc(100% - 46.3px));

$squircle-24-top-right: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, calc(100% - 32.4px) 0px, calc(100% - 29.9px) 0px, calc(100% - 27.5px) 0.1px, calc(100% - 25.1px) 0.3px, calc(100% - 22.9px) 0.5px, calc(100% - 20.9px) 0.8px, calc(100% - 18.9px) 1.2px, calc(100% - 17px) 1.6px, calc(100% - 15.3px) 2.1px, calc(100% - 13.6px) 2.7px, calc(100% - 12.1px) 3.4px, calc(100% - 10.7px) 4.2px, calc(100% - 9.3px) 5px, calc(100% - 8.1px) 5.9px, calc(100% - 7px) 7px, calc(100% - 5.9px) 8.1px, calc(100% - 5px) 9.3px, calc(100% - 4.2px) 10.7px, calc(100% - 3.4px) 12.1px, calc(100% - 2.7px) 13.6px, calc(100% - 2.1px) 15.3px, calc(100% - 1.6px) 17px, calc(100% - 1.2px) 18.9px, calc(100% - 0.8px) 20.9px, calc(100% - 0.5px) 22.9px, calc(100% - 0.3px) 25.1px, calc(100% - 0.1px) 27.5px, calc(100% - 0px) 29.9px, calc(100% - 0px) 32.4px, calc(100% - 0px) 35.1px, calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), calc(100% - 0px) calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px), 0px calc(100% - 0px));



html {
	> body {
		background-image: url("../img/background.png");
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		display: grid;
		flex-direction: column;
		align-items: center;
		overflow-y: hidden;

		main {
			background-color: rgba(255, 255, 255, 0.95);
			width: 90vw;
			height: 90vh;
			margin: auto;
			display: flex;
			flex-direction: column;
			border-radius: 24px;
			box-sizing: border-box;
			clip-path: $squircle-24;
		}
	}
}

* {
	box-sizing: border-box;
}

.waiting {
	opacity: 50%;
	pointer-events: none;
}

.stop {
	opacity: 50%;
	pointer-events: none;
}

.hidden {
	display: none !important;
}

#orientation-warning {
	display: none; /* Скрываем заглушку по умолчанию */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 9999;
	padding: 20px;
	box-sizing: border-box;
}

#orientation-warning p {
	font-size: 1.5rem;
	line-height: 1.5;
}

@media (max-width: 1024px) {
	main {
		display: none !important;
	}

	#orientation-warning {
		display: flex;
	}
}



@import './_fonts.scss';
@import './_button.scss';
@import './_game.scss';
@import './_dialog.scss';
@import './_rooms.scss';
@import './_start.scss';
@import './_profile.scss';
