html {
	> body {
		background-image: url("../img/background.png");
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;

		main {
			background-color: white;
			opacity: 0.95;
			width: 90vw;
			height: 90vh;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 40px;
			box-sizing: border-box;
		}
	}
}

* {
	box-sizing: border-box;
}

.waiting {
	opacity: 50%;
	pointer-events: none;
}

.stop {
	opacity: 50%;
	pointer-events: none;
}

.hidden {
	display: none;
}

@import './_reset.scss';
@import './_fonts.scss';
@import './_button.scss';
@import './_game.scss';
@import './_dialog.scss';
